In [1]:
# 1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
L=[10,20,30,40,50,60,70,80]
# i.WAP to add 200 and 300 to L.
L.append(200)
L.append(300)
print("i",L)
# ii. WAP to remove 10 and 30 from L.
L.remove(10)
L.remove(30)
print("ii",L)
# iii. WAP to sort L in ascending order.
L.sort()
print("iii.",L)
# iv. WAP to sort L in descending order.
L.sort(reverse=True)
print("iv.",L)

i [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
ii [20, 40, 50, 60, 70, 80, 200, 300]
iii. [20, 40, 50, 60, 70, 80, 200, 300]
iv. [300, 200, 80, 70, 60, 50, 40, 20]

In [8]:
# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
# perform the following operations using tuple functions:
T=(45,89,5,76,45.4,89,92,58,45)
# i. Identify the highest score and its index in the tuple.
highest_score=max(T)
print(" i. highest score is =",highest_score)
index=T.index(highest_score)
print(" i. index of highest score is =",index)
# ii. # Find the lowest score and count how many times it appears.
lowest_score=min(T)
print("ii. lowest score is =",lowest_score)
count=T.count(lowest_score)
print("ii. lowest score appeared =",count," times")
# iii. Reverse the tuple and return it as a list.
reverse_tupple=T[::-1]
print("iii. reverse of tupple is",reverse_tupple)
# iv. # Check if a specific score ‘76’ (input by the user) is present in the tuple and
# print its first occurrence index, or a message saying it’s not present.
n=float(input("iv. enter a number n ="))
if n in T:
  print("index of n in original tupple ",T.index(n))
else:
  print("element is not present")

 i. highest score is = 92
 i. index of highest score is = 6
ii. lowest score is = 5
ii. lowest score appeared = 1  times
iii. reverse of tupple is (45, 58, 92, 89, 45.4, 76, 5, 89, 45)
iv. enter a number n =123
element is not present

In [11]:
# 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
import random as random

def is_prime(num):
  if num<=1:
    return False
  for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
  return True

random_nums=[]

for i in range(100):
  random_nums.append(random.randint(100, 900))

print("list =",random_nums)

odd_nums=[]
even_nums=[]
prime_nums=[]

for i in random_nums:
  if i%2==0:
    even_nums.append(i)
  else :
    odd_nums.append(i)

  if is_prime(i):
    prime_nums.append(i)



# i. All odd numbers
print("Odd nums : ",odd_nums)
# ii. All even numbers
print("Even nums : ",even_nums)
# iii. All prime numbers
print("Prime nums : ",prime_nums)

list = [291, 300, 355, 615, 148, 614, 395, 477, 761, 652, 532, 253, 221, 667, 215, 833, 304, 792, 427, 467, 100, 501, 422, 742, 305, 125, 493, 144, 653, 628, 276, 247, 642, 431, 544, 577, 865, 309, 276, 644, 563, 302, 550, 465, 684, 249, 659, 700, 753, 454, 376, 490, 314, 263, 894, 272, 182, 728, 724, 167, 355, 573, 222, 725, 350, 355, 653, 570, 715, 842, 757, 300, 325, 554, 570, 672, 606, 659, 795, 325, 531, 607, 160, 838, 848, 661, 709, 169, 602, 232, 121, 647, 109, 178, 269, 389, 176, 129, 740, 697]
Odd nums :  [291, 355, 615, 395, 477, 761, 253, 221, 667, 215, 833, 427, 467, 501, 305, 125, 493, 653, 247, 431, 577, 865, 309, 563, 465, 249, 659, 753, 263, 167, 355, 573, 725, 355, 653, 715, 757, 325, 659, 795, 325, 531, 607, 661, 709, 169, 121, 647, 109, 269, 389, 129, 697]
Even nums :  [300, 148, 614, 652, 532, 304, 792, 100, 422, 742, 144, 628, 276, 642, 544, 276, 644, 302, 550, 684, 700, 454, 376, 490, 314, 894, 272, 182, 728, 724, 222, 350, 570, 842, 300, 554, 570, 672, 606, 160, 838, 848, 602, 232, 178, 176, 740]
Prime nums :  [761, 467, 653, 431, 577, 563, 659, 263, 167, 653, 757, 659, 607, 661, 709, 647, 109, 269, 389]

In [18]:
# 4. Consider the following two sets, A and B, represen ng scores of two teams in mul ple
# matches.  A = {34, 56, 78, 90}  and B = {78, 45, 90, 23}
# WAP to perform the following operations using set functions:
A={34,56,78,90}
B={78,45,90,23}
# i.  Find the unique scores achieved by both teams (union of sets).
union_unique_score=A.union(B)
print("unique score from AUB =",union_unique_score)
# ii.  Identify the scores that are common to both teams (intersec on of sets).
intersection_score=A.intersection(B)
print("unique score from A/\B =", intersection_score)
# iii.  Find the scores that are exclusive to each team (symmetric difference).
symmetric_score=A.symmetric_difference(B)
print(" symmetric difference of A and B",symmetric_score)
# iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
print(" A is subset of B",A.issubset(B))
print(" B is superset of A",B.issuperset(A))
# v. Remove a specific score 𝑋 (input by the user) from set A if it exists. If not, print  a message saying
# it is not present.
n=int(input("enter a number n"))
if n in A:
   A.remove(n)
   print("set after removing ",n," is","=",A)
else :
 print("no such element present")

unique score from AUB = {34, 45, 78, 23, 56, 90}
unique score from A/\B = {90, 78}
 symmetric difference of A and B {34, 45, 23, 56}
 A is subset of B False
 B is superset of A False
enter a number n123
no such element present

In [19]:

#5. Write a program to rename a key city to a locaƟon in the following dictionary.
dictionary1={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}

if "city" in dictionary1:
  dictionary1["location"] = dictionary1.pop("city")

print(dictionary1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}